.el-button{
    font-size: 12px;
    padding: 7px 15px;
    border-radius: 3px;
}

.el-table{
    height: calc(100vh - 130px);
    max-height: calc(100vh - 130px);
    font-size: 12px;
}

.el-table .el-table__cell{
    padding: 6px 0;
}